@import 'node_modules/bootstrap/scss/bootstrap';

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

main {
    flex: 1; 
}

/*Header*/
.navbar {
    background: linear-gradient(to bottom, #83B271, #92b087); 
}

.nav-link {
    color: #fff;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-toggler {
    border-color: #fff;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

/*Footer*/
footer {
    background: linear-gradient(to top, #83B271, #92b087); 
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 250px; /* Asegura que el contenido no se apriete demasiado en pantallas pequeñas */
    margin: 10px;
    padding: 0 15px;
}

.footer-section h4 {
    color: #f8f9fa;
}

.footer-section p, .footer-section a {
    color: #dee2e6;
    font-size: 14px;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

/*Iconos redes sociales*/
.social-icon {
    text-decoration: none;
    color: #333; 
    margin: 0 10px;
    font-size: 1.5em; 
}

.social-icon:hover {
    color: #555; 
}

/*Carousel*/
.carousel-item {
    height: 50vh; 
    min-height: 300px; 
    background: no-repeat center center scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  
  .carousel-caption {
    background-color: rgba(0,0,0,0.5); /* Fondo semitransparente */
    border-radius: 10px;
    padding: 20px;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(100%);
  }  

.carousel-image {
    margin: auto;
}
/**/
.offcanvas-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
}

.offcanvas-body {
    /* Estilos personalizados para el cuerpo del sidebar */
}

/* Cards */
.card {
    transition: box-shadow .3s ease-in-out;
}

.card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover; 
}

/*BOTON CESTA*/
#btn-cesta{
    background-color: #416a00; 
    border-color: #83B271; 
    color: white;
    transition: background-color 0.3s, border-color 0.3s; /* Suaviza la transición de colores */
}

#btn-cesta:hover {
    background-color: #83B271; 
    border-color: #416a00; 
    color: #000;
}

@media (max-width: 990px) {
    #btn-cesta {
        margin-top: 20px;
    }
}

/*h2 PRODUCTOS*/
h2.display-4 {
    margin-top: 60px;
    font-weight: 300; 
    position: relative;
    padding-bottom: 15px; 
}

h2.display-4::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 200px; 
    height: 4px; 
    background-color: #416a00; 
    border-radius: 2px;
}

.lead.text-muted {
    font-size: 1.25rem; 
}

/*BOTON CARDS*/
#boton-card {
    background-color: #416a00; 
    border-color: #83B271; 
    color: white;
    transition: background-color 0.3s, border-color 0.3s; /* Suaviza la transición de colores */
}

#boton-card:hover {
    background-color: #83B271; 
    border-color: #416a00; 
    color: #000;
}

/*CARD PEDIDOS*/
.card-productos {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    margin-bottom: 20px;
    margin: 50px;
}

.card-productos-img-top {
    height: 400px;
    width: 400px; 
    object-fit: cover; 
}

.card-productos-body {
    padding: 20px; 
}

/*CARD PEDIDO*/
.pedido-card {
    margin-bottom: 20px;
  }
  .pedido-img {
    width: 100px; 
    height: 100px; 
  }
    
  .search-bar {
    padding: 20px 0;
  }

  .search-input {
    margin-right: 15px;
  }

  .order-status {
    background-color: #f8f8f8;
    border-radius: 4px;
    padding: 20px;
    margin-top: 20px;
  }

  .logo-invoice {
    width: 100px;
    height: auto;
}

@media print {
    #printButton,
    #backButton {
        display: none;
    }
}

//Desplegable de categorias
#customCategoryBar {
    background-color: #83B271;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

#customCategoryBar .dropdown-toggle {
    background-color: #ffffff;
    color: #416a00; 
    border: 1px solid #416a00; 
    transition: all 0.3s ease; 
}

#customCategoryBar .dropdown-toggle:hover, #customCategoryBar .dropdown-toggle:focus {
    background-color: #416a00; 
    color: #ffffff; 
    border-color: #2e4d00; 
}

#customCategoryBar .dropdown-menu {
    border: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
}

#customCategoryBar .dropdown-item {
    color: #416a00; 
    transition: background-color 0.2s ease-in-out; 
}

#customCategoryBar .dropdown-item:hover, #customCategoryBar .dropdown-item:focus {
    background-color: #416a00; 
    color: #ffffff; 
}

//Categorias con productos representados en adminCategory
.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.category-name {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}
.products-list {
    list-style-type: none;
    padding: 0;
}
.products-list li {
    font-size: 18px;
    color: #666;
}

//RESPONSIVE TABLA PRODUCTOS
@media (min-width: 1600px) {
    .d-xxl-table-cell {
        display: table-cell;
    }
}

.tabla-productos th, .tabla-productos td {
    text-align: center;
    vertical-align: middle;
    
}

#btn-tabla-productos{    
    margin: 2%;
}

//RESPONSIVE CARD CART
.card-title {
    font-size: 1rem; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita para el título */
}

.card-text {
    font-size: 0.9rem; /* Tamaño de la fuente para el texto */
    margin-bottom: 0.25rem; /* Espaciado debajo de cada línea de texto */
}

.m-70{
    margin: 70px;
}

.old-price{
    text-decoration: line-through;
    font-size: smaller;
}

.sticky {
    position: -webkit-sticky; /* Para soporte de Safari */
    position: sticky;
    z-index: 1000; /* Asegura que el div se mantenga por encima de otros contenidos */
}
.cart-sidebar {
    width: 300px; /* Ajusta el ancho según necesites */
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.cart-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
}

.cart-item:last-child {
    border-bottom: none;
}

.product-name, .product-price, .product-quantity {
    margin: 0;
    padding: 4px 0;
}

.btn {
    display: inline-block;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    margin: 4px 2px; /* Ajusta para mejor espaciado */
}

.btn-success {
    background-color: #4CAF50;
    color: white;
}

.btn-danger {
    background-color: #f44336;
    color: white;
}

.alert-success {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
}
